*,
*::before,
*::after {
  box-sizing: border-box;
}
#points img {
  width: 4rem;
  height: 4rem;
  margin-bottom: -1rem;
  padding: 10px;
}

header {
  width: 100%;
  color: #FFEAA2;
  align-items: center;
  font-family: sacramento, cursive;
  text-align: center;
}

span{
  font-family: tahoma;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

h1 {
 font-size: 5rem;
color: #FEB2B4;
margin: 0;
}
h2 {
font-size: 4rem;
text-align: center;
font-family: sacramento, cursive;
color: #FFEAA2;
margin: 0px;
padding: 0px;
}

.card:active {
  transform: scale(1.3);
  transition: transform .2s;
}

#memory-game {
  width: 1000px;
  height: 450px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  perspective: 1000px;
  background: rgb(252, 195, 197);
  padding: 5px;
  border-radius: 10px;
}

.board {
  max-width: 960px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
body {
  background: rgb(250, 223, 114);
}

.card {
    position: relative;
    margin: 5px;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform.5s;
    border-radius: 10px;
  }

.card, .back, .front {
  height: 7rem;
  width:  12rem;
}

.back, .front {
  position: absolute;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
}

.front {
  background: url(all.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 10px;
}

.back {
  transform: rotateY(180deg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 10px;
  border: 5 px solid #FCD639;

}

.selected {
  transform: rotateY(180deg);
}
.match .front {
  background: inherit !important;
}
.match {
  background-image: none !important;
}

